.gradient-bg {
    background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}

.building {
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    height: 90vh;
}

.footer {
    height: 150px;
    background-color: black;
}